.aadhar {
  color: rgb(10, 78, 138);
  text-align: center;
  position: relative;
  justify-content: left;
  align-items: left;
}

#name {
  width: 100px;
}

#form {
  margin-left: 150px;
  position: relative;
  align-items: left;
  width: 1000px;
  border: 3px solid gray;
  width: 1100px;
  height: 700px;
  background-color: antiquewhite;
}

#form:hover {
  background-color: rgb(154, 240, 240);
  transition: all 2s linear;
}

#address {
  width: 120px;
}

#mobileno {
  width: 140px;
}

#gender {
  margin-left: 150px;
}

#age {
  width: 90px;
}

#date {
  width: 178px;
}

#pinno {
  width: 100px;
}

#state {
  width: 100px;
}

#national {
  width: 160px;
}

button {
  width: 120px;
  background-color: rgb(50, 99, 62);
  border: none;
  border-radius: 15px;
  padding: 10px;
  color: azure;
  opacity: 0.5;
}

button:hover {
  opacity: 1;
  transition: all 1s linear;
}

#sumbit:hover {
  background-color: rgb(227, 5, 28);
}

.photo {
  border: 2px solid black;
  width: 130px;
  height: 151px;
  position: absolute;
  top: 60px;
  right: 350px;
}

img {
  position: absolute;
  bottom: 90px;
  right: 350px;
}

#email {
  width: 130px;
}

#form label {
  text-align: left;
}
